<div class="headclass">
  <nav class="menuContainer" *ngIf="!quizOver">
    <h5 class="questionbox">
      Kérdés {{questionIndex+1}} a 10-ből.
      <br>
      <br>
      {{currentQuestion}}</h5>
    <div class="textbox">
      <div (click)="setUserAnswer(currentOptions[randomIndex[0]])" name="answer"> A:{{currentOptions[randomIndex[0]]}}</div>
      <div (click)="setUserAnswer(currentOptions[randomIndex[1]])" name="answer"> B:{{currentOptions[randomIndex[1]]}}</div>
      <div (click)="setUserAnswer(currentOptions[randomIndex[2]])" name="answer"> C:{{currentOptions[randomIndex[2]]}}</div>
      <div (click)="setUserAnswer(currentOptions[randomIndex[3]])" name="answer"> D:{{currentOptions[randomIndex[3]]}}</div>
    </div>    
  </nav>
  <nav *ngIf="quizOver">
    <h5 class="questionbox">Quiz véget ért!<br><br>5 másodpercen belül átírányítunk a főoldalra!<br><br>Helyes válaszok: {{score}}/10</h5>
  </nav>
</div>