.headclass{ 
    height:auto; 
    min-height:100vh; 
    background-image:url(/assets/background.jpg); 
    background-size:cover; 
    background-position:center; 
}  

table{
  color: snow;
  font-size: 20px;
  margin: 15% 0 0 45%;
  position: absolute;
  letter-spacing: 3px;
}


 a:hover {
    background: #F0E68C;
    width: max-content;
    height: max-content;
 } 

a {
      color: Snow;
      text-decoration: none;
    }