.headclass{ 
    height:auto; 
    min-height:100vh; 
    background-image:url(/assets/background.jpg); 
    background-size:cover; 
    background-position:center; 
}  

.menuContainer {
  position: absolute;
   left: 50%; 
   top: 35%; 
   transform: translate (-50%, -50%);
   border: 5px solid white;
   padding: 10px;
  }

h1{
 color:snow;
 text-align: center;
 font-size: 30px;
}

label{
      font-family: Inconsolata;
      font-size: 20px;
      text-align: center;
      top: 35px;
      color: Snow;
      text-decoration: none;
    }