<div class="card headclass">
  <div class="card-body menuContainer">
       <h1 class="card-title">Login</h1>

      <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
      </div>
      
      <form class="example-form" [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
          <div class="mb-3">
                  <label>Username:</label>
                  <input type="text" id="username" formControlName="username"/>
                  <br>
                  <em *ngIf="validateControl('username') && hasError('username', 'required')">Username is required</em>
          </div>
          <div class="mb-3">
                  <label>Password:</label>
                  <input type="password" id="password" formControlName="password"/>
                  <br>
                  <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
          </div>

          <br>
          <div class="mb-3 row">
              <div class="col-md-1">
                  <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">Login</button>
              </div>
          </div>
      </form>
  </div>
</div>
