<div class="headclass">
    <div *ngIf="showError" class="error" role="alert">
        {{errorMessage}}
    </div>
  <div class="menuContainer">
       <h1>Login</h1>
      <form  [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
          <div >
                  <label>Felhasználó: </label>
                  <input type="text" id="username" formControlName="username"/>
                  <br>
                  <em *ngIf="validateControl('username') && hasError('username', 'required')">Felhasználó név kötelező</em>
          </div>
          <div>
                  <label>Jelszó: </label>
                  <input class="space" type="password" id="password" formControlName="password"/>
                  <br>
                  <em *ngIf="validateControl('password') && hasError('password', 'required')">Jelszó kötelező</em>
          </div>

          <br>
          <div>
              <div>
                  <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">Bejelentkezés</button>
              </div>
          </div>
      </form>
  </div>
</div>
