<div class="headclass">
    <nav class="menuContainer">
      <ul>
        <li><a [routerLink]="['/authentication/login']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">NewGame</a>
        </li>
  
        <li><a [routerLink]="['/playerinfo']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">PlayerInfo</a>
        </li>

        <li><a (click)="logout()" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Logout</a>
          </li>
      </ul>
    </nav>
  </div>
  
  