<div class="headclass">
    <nav class="menuContainer">
      <ul>
        <li><a [routerLink]="['/quizmenu']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Új&nbsp;Játék</a>
        </li>
  
        <li><a [routerLink]="['/playerinfo']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Saját&nbsp;Információ</a>
        </li>

        <li><a [routerLink]="['/ranklist']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Rang&nbsp;Lista</a>
        </li>

        <li><a (click)="logout()" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Kijelentkezés</a>
          </li>
      </ul>
    </nav>
  </div>
  
  