<div class="headclass">
  <div *ngIf="showError" class="error" role="alert">
    <span [innerHTML]="errorMessage"></span>
  </div>
  <div class="menuContainer">
    <h1>Regisztráció</h1>
    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
      <div >
        <label for="firstName" >Keresztnév:</label>
        <div >
          <input type="text" id="firstName" formControlName="firstName" class="form-control" />
        </div>
      </div>
      <div>
        <label for="lastName" >Vezetéknév:</label>
        <div >
          <input type="text" id="lastName" formControlName="lastName" class="form-control" />
        </div>
      </div>
      <div>
        <label for="email" >Email:</label>
        <div >
          <input type="email" id="email" formControlName="email" class="form-control" />
        </div>
        <div >
          <em *ngIf="validateControl('email') && hasError('email', 'email')">Hiteles email címet adj meg</em>
          <em *ngIf="validateControl('email') && hasError('email', 'required')">Email cím kötelező</em>
        </div>
      </div>
      <div >
        <label for="password" >Jelszó:</label>
        <div >
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
        <div >
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Jelszó kötelező</em>
        </div>
      </div>
      <div >
        <label for="confirm" >Jelszó újra:</label>
        <div >
          <input type="password" id="confirm" formControlName="confirm" class="form-control" />
        </div>
        <div >
          <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Jelszó ismétlés kötelező</em>
          <em *ngIf="hasError('confirm', 'mustMatch')">Jelszavaknak egyezniük kell</em>
        </div>
      </div>
      <br>
      <div >
        <div >
          <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid">Regisztráció</button>
        </div>
      </div>
    </form>
  </div>
</div>