.headclass{ 
    height:auto; 
    min-height:100vh; 
    background-image:url(/assets/background.jpg); 
    background-size:cover; 
    background-position:center; 
}  

.error{
  color:red;
  position: absolute;
  left: 50%; 
  top: 18%; 
  transform: translate (-50%, -50%);
  border: 5px solid red;
  padding: 5px 40px;
}

.menuContainer {
   position: absolute;
   left: 50%; 
   top: 30%; 
   transform: translate (-50%, -50%);
   border: 5px solid white;
   padding: 5px 40px;
  }

h1{
 color:snow;
 text-align: center;
 font-size: 30px;
}

label{
      font-family: Inconsolata;
      text-align: left;
      color: Snow;
    }